h1 
{
    background-color: rgb(101, 127, 184);
    width: 50%; /*establece el ancho de la etiquta*/
    text-align: center; /* centra el texto de la etiqueta */
    margin: 0 auto;
}

h2 
{
    color: rgb(64, 117, 117);
    width: 40%;
}

header 
{
color: rgb(131, 153, 172);
border: 4px solid rgb(90, 114, 136); /*ancho, tipo de linea, color */
text-align: center;
margin: 14px auto;
padding-bottom: 0em;
}

main {
    border: 4px dashed rgb(90, 114, 136);
    text-align: center;
    margin: 14px auto;
    padding-bottom: 24em;
}

footer {
    border: 4px solid rgb(90, 114, 136);
    text-align: center;
    margin: 14px auto;
    padding-bottom: 8em ;
}