header
{
    border-radius: 6px;
    margin: 1em auto;
    background-color: #7190e4;
    border: 1px solid black;
}
nav, aside{
    background-color: beige;
    border: 1px solid black;
    width: 95%;
    height: 30px;
    margin: 8px auto;
}
main{
    background-color: #7190e4;
    border-radius: 6px;
    margin: 1em auto;
    border: 1px solid black;
 }
 article{
    width: 34.6%;
    background-color: rgb(64, 146, 119);
    border: 1px solid black;
    height: 100px;
    margin-right: 1em;
    margin-top: 1em;
 }
 section{
    width: 59%;
    background-color: rgb(219, 36, 52);
    border: 1px solid black;
    height: 100px;
    margin-top: 1em;
    margin-left: 1em;
 }
 footer{
    background-color: #7190e4;
    border: 1px solid black;
    height: 3em;
    border-radius: 6px;
 }
 section, article
 {
    display: inline-block;
   
 }